.pfb_date_wrapper {
  display: inline-block;
  padding: 10px 12px;
}

.pfb_date_button {
  font-size: 1rem;
  height: 2.75rem;
  border-radius: 1.625rem;
  background-color: rgb(33, 34, 40);
  color: rgb(255, 255, 255);
  padding: 0px 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  cursor: pointer;
  width: 17%;
}

.pfb_modal_overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 80;
}

.pfb_modal {
  width: 360px;
  background: rgb(20, 22, 26);
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 12px 40px rgba(2, 6, 23, 0.15);
}

/* header */
.pfb_modal_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  h3 {
    margin: 0;
    font-size: 18px;
  }

  .pfb_close_btn {
    border: none;
    color: #0085ff;
    background: rgb(0, 43, 82);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
  }
}

/* верхняя панель: год + month control */
.pfb_date_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-bottom: 10px;

  .pfb_year_input {
    width: 86px;
    padding: 8px;
    border-radius: 0.875rem;
    text-align: center;
    color: rgb(130, 135, 148);
    font-size: 1.25rem;
    font-weight: 700;
    background: rgb(33, 34, 40);
  }

  .pfb_month_control {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgb(33, 34, 40);
    border-radius: 0.875rem;
    min-height: 3rem;
    width: 100%;
    justify-content: center;
    button {
      width: 34px;
      height: 34px;
      border-radius: 0.375rem;
      border: none;
      background-color: rgba(130, 135, 148, 0.2);

      cursor: pointer;
      font-size: 18px;
    }

    .pfb_month_label {
      min-width: 120px;
      text-align: center;
      font-weight: 600;
    }
  }
}

/* дни недели */
.pfb_day_names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  color: #7a7a7a;
  margin-bottom: 8px;
  font-size: 13px;
}

/* сетка дней */
.pfb_days_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  margin-bottom: 12px;
  background-color: rgb(33, 34, 40);
  border-radius: 1rem;
  justify-items: center;
  padding: 1rem;
}

.pfb_day_cell {
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  font-size: 14px;
  background-color: rgb(20, 22, 26);
  border-radius: 50%;

  &.empty {
    pointer-events: none;
    background: transparent;
  }

  &:hover:not(.empty) {
    background: #2d7cff;
  }

  &.range {
    background: #2d7cff;
  }

  &.start,
  &.end {
    background: #2d7cff;
    color: #fff;
    font-weight: 600;
  }
}

/* footer buttons */
.pfb_modal_footer {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.pfb_btn {
  padding: 8px 14px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 700;
}

.pfb_btn_reset {
  color: rgb(0, 133, 255);
  background: rgba(0, 133, 255, 0.2);
}

.pfb_btn_apply {
  background: #1976d2;
  color: #fff;
}
