@use "@/styles/mixins.scss" as *;

.profile {
  padding: 20px;
  display: grid;
  gap: 10px;
  
  @include md {
    padding: 15px;
  }
  
  @include sm {
    padding: 10px;
  }
  &_account-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    @include md {
      flex-wrap: wrap;
      gap: 1rem;
    }

    &--left {
      display: flex;
      gap: 0.875rem;
      
      @include sm {
        gap: 0.625rem;
      }
    }

    &--avatar {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      
      @include md {
        width: 64px;
        height: 64px;
      }
    }

    &--raiting {
      display: grid;
      gap: 0.625rem;

      .premiumProductItem_seller {
        p {
          color: rgb(0, 133, 255);
        }
      }
    }

    &--right {
      display: flex;
      gap: 0.375rem;
      
      @include md {
        width: 100%;
        justify-content: flex-end;
      }
      
      &--icon {
        background-color: rgb(0, 43, 82);
        display: flex;
        padding: 0px;
        height: 2rem;
        min-width: 2rem;
        border-radius: 0.5rem;
        line-height: 1.5;
        font-size: 1rem;
        align-items: center;
        justify-content: center;

        img {
          width: 18px;
          height: 18px;
        }
      }
    }
  }

  &_wallet {
    display: flex;
    gap: 0.625rem;
    max-width: 80%;
    
    @include lg {
      max-width: 100%;
      flex-wrap: wrap;
    }
    
    @include md {
      flex-direction: column;
    }
    
    &--info--wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 572px;
      margin-top: 0.75rem;
      gap: 0.625rem;
      
      @include md {
        max-width: 100%;
        margin-top: 0;
      }
    }
    &--info {
      width: 100%;
      max-width: 572px;
      background-color: rgb(33, 34, 40);
      border-radius: 0.625rem;
      display: flex;
      flex-direction: row;
      padding: 0.885rem;
      justify-content: space-between;
      align-items: center;

      &--balance {
        display: flex;
        gap: 0.5rem;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 700;
      }
    }

    &--withdrawal {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      &-exclamation {
        display: flex;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: #0085ff;
        align-items: center;
        justify-content: center;
      }

      &-available {
        display: flex;
        gap: 0.5rem;
        font-weight: 700;
        &-sum {
          color: #0085ff;
        }
      }
    }

    .appsSectionBtn {
      max-width: 18%;
      font-weight: 700;
      
      @include lg {
        max-width: 25%;
      }
      
      @include md {
        max-width: 100%;
      }
    }

    .profile_btn {
      position: relative;
      background: #002b52;
      color: #0085ff;
    }

    .profile_btn-new::after {
      content: "NEW";
      position: absolute;
      background-color: rgb(255, 26, 79);
      border-radius: 2.125rem;
      padding: 0px 0.375rem;
      min-width: 1.625rem;
      min-height: 1rem;
      color: rgb(255, 255, 255);
      font-size: 8px;
      font-weight: 700;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      right: -5px;
      top: -5px;
    }
  }
}
