.rating {
  display: flex;
  gap: 2px;
}

.star-wrapper {
  position: relative;
  width: 15px;
  height: 15px;

  .star {
    width: 100%;
    height: 100%;
    fill: #ccc;

    &.full {
      fill: rgb(0, 133, 255);
    }

    &.half {
      fill: linear-gradient(to right, rgb(1, 51, 97) 50%, #ccc 50%);
    }
  }
}
