.sell {
  padding: 20px;
  display: grid;
  gap: 10px;

  &_header {
    align-items: center;
    gap: 1.5rem;
    .backArrow {
      background: rgb(33, 34, 40);
      height: 3.25rem;
      font-size: 1rem;
      font-weight: 700;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      min-width: unset;
      width: 2.625rem;
      height: 2.625rem;
      max-height: 2.625rem;
      padding: 0px;
      border-radius: 50%;
      cursor: pointer;
      img {
        width: 14px;
        height: 12px;
      }
    }
  }

  &_filter_block {
    display: flex;
    gap: 0.625rem;
    .pfb_input {
      input {
        width: 100%;
      }
    }
  }

  &_filter_content {
    margin-top: 2.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    gap: 1rem;
  }
}
