.pfb_app_btn {
  font-size: 1rem;
  height: 2.75rem;
  border-radius: 1.625rem;
  background-color: rgb(33, 34, 40);
  color: rgb(255, 255, 255);
  padding: 0px 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
