.pfb_input {
  width: 100%;
  border-radius: 0.75rem;
  background-color: rgb(33, 34, 40);
  box-sizing: border-box;
  padding: 0px 1rem;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  height: 2.75rem;
  max-width: 572px;
  min-width: 500px;
  gap: 5px;
}
