.appsSection-blocks {
  display: flex;
  flex-direction: column;
  gap: 20px;

  &__top {
    display: flex;
    // gap: 57px;

    & > .appsSection-blocks__left {
      //   flex: 0 0 calc(60% - 10px);
      .header-block {
        margin-left: 3%;
      }
    }

    & > .appsSection-blocks__right {
      .header-block {
        margin-left: 3%;
      }
    }
  }

  &__bottom {
    width: 100%;
  }

  .appsSection-content {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
  }
}
