@use "@/styles/mixins.scss" as *;

.premiumProductItem {
  max-width: 355px;
  display: grid;
  gap: 0.875rem;
  
  @include md {
    max-width: 100%;
    gap: 0.625rem;
  }
  
  &-mainImage {
    max-height: 200px;
    overflow-y: hidden;
    border-radius: 1.25rem;
    
    @include md {
      max-height: 150px;
      border-radius: 1rem;
    }
    
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &_category {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title {
      display: flex;
      gap: 0.625rem;
      flex-direction: row;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: start;
      img {
        width: 28px;
        height: 28px;
        border-radius: 0.5rem;
      }

      a {
        font-size: 0.875rem;
        line-height: 1.5;
        font-weight: 700;
      }
    }

    &-name {
      color: rgb(0, 133, 255);
      font-size: 0.875rem;
      font-weight: 700;
      background-color: rgb(0, 43, 82);
      padding: 0.125rem 0.875rem;
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      border-radius: 2.125rem;
      min-width: 2.375rem;
      min-height: 1.5rem;
    }
  }

  &_title {
    line-height: 1.5;
    font-weight: 500;
  }

  &_seller {
    display: flex;
    gap: 0.375rem;
    align-items: baseline;

    p {
      color: rgb(130, 135, 148);
    }
  }

  &_price {
    display: flex;
    gap: 0.625rem;
    align-items: center;
    flex-wrap: wrap;
    
    &-item {
      color: rgb(255, 26, 79);
      font-weight: 700;
      font-size: 1.5rem;
      
      @include md {
        font-size: 1.25rem;
      }
    }

    &-percent {
      font-size: 1.125rem;
      font-weight: 700;
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      border-radius: 2.125rem;
      min-width: 2.375rem;
      min-height: 1.5rem;
      padding: 0px 0.375rem;
      color: rgb(255, 255, 255);
      background-color: rgb(255, 26, 79);
      
      @include md {
        font-size: 1rem;
      }
    }

    &-old_price {
      font-size: 1.125rem;
      font-weight: 500;
      line-height: unset;
      text-decoration: line-through rgba(172, 178, 192, 0.7);
      color: rgb(130, 135, 148);
      
      @include md {
        font-size: 1rem;
      }
    }
  }
}
