// .pfb_select {

//
//
//   color: rgb(255, 255, 255);
//   padding: 0px 1.25rem;
// }

@use "@/styles/mixins.scss" as *;

.statusSelect {
  position: relative;
  width: 180px;
  font-size: 14px;
  
  @include md {
    width: auto;
    min-width: 140px;
  }

  &__header {
    padding: 10px 12px;
    font-size: 1rem;
    height: 2.75rem;
    border-radius: 1.625rem;
    cursor: pointer;
    background-color: rgb(33, 34, 40);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    white-space: nowrap;
    
    @include md {
      font-size: 0.875rem;
      padding: 8px 10px;
      height: 2.5rem;
    }

    &.open {
      border-radius: 1.375rem 1.375rem 0px 0px;
      width: 11.25rem;
      
      @include md {
        width: 100%;
      }
    }

    .arrow {
      transition: 0.2s ease;
      &.open {
        transform: rotate(180deg);
      }
    }
  }

  &__dropdown {
    position: absolute;
    // top: calc(100% + 6px);
    left: 0;
    width: 100%;
    background: rgb(33, 34, 40);
    // border: 1px solid #d2d2d2;
    border-radius: 0px 0px 1.375rem 1.375rem;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.05);
    padding: 8px 0;
    z-index: 40;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 12px;
    cursor: pointer;

    input {
      width: 16px;
      height: 16px;
      background: rgb(61, 61, 74);
    }
  }
}
