// Вместо @import используем @use
@use "./reset.scss" as *;
@use "./styles/mixins.scss" as *;

/* Root variables */
:root {
  --container-max-width: 1560px; // 1520px
  --container-padding: 1.25rem; // 20px
  --bg-color: #14161a;
  --font-family: "Roboto", Arial, sans-serif;
  --text-color: #ffffff;
}

/* Global body styles */
body {
  font-family: var(--font-family);
  color: var(--text-color);
  background-color: white;
  overflow-x: hidden;
  
  @include md {
    padding-bottom: 70px; // Отступ для bottom navigation
  }
}

.dark {
  background-color: var(--bg-color);
}

h4 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.75rem;
  
  @include md {
    font-size: 1.25rem;
    line-height: 1.5rem;
  }
}

/* Container */
.container {
  max-width: var(--container-max-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
  width: 100%;
  
  @include xs {
    padding: 0 0.75rem;
  }
  
  @include sm {
    padding: 0 1rem;
  }
}

/* Utility classes */
.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hidden {
  display: none !important;
}

.light-mode {
  color: black;
  &--second-color {
    color: rgb(130, 135, 148);
  }
  &--bg {
    background: #f2f2f7;
  }
}

.back_header {
  align-items: center;
  gap: 1.5rem;

  .backArrow {
    background: rgb(33, 34, 40);
    height: 3.25rem;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    min-width: unset;
    width: 2.625rem;
    height: 2.625rem;
    max-height: 2.625rem;
    padding: 0px;
    border-radius: 50%;
    cursor: pointer;

    img {
      width: 14px;
      height: 12px;
    }
  }
}
