.bonuseItem {
  display: flex;
  flex: 0 0 auto;
  width: 18.75rem;
  background: linear-gradient(180deg, #0085ff 71%, #005aad 138%);
  border-radius: 1rem;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: space-between;

  &_header {
    position: absolute;
    top: 10px;
    display: flex;
    justify-content: space-between;
    left: 10px;
    right: 10px;

    .add {
      font-size: 0.5rem;
      font-weight: 500;
      line-height: 1rem;
      overflow-wrap: break-word;
      max-width: 55%;
    }

    &-new {
      display: inline-flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      border-radius: 2.125rem;
      min-width: 2.375rem;
      min-height: 1.5rem;
      color: rgb(255, 255, 255);
      background-color: rgb(255, 26, 79);
      padding: 0.25rem 0.75rem;
    }
  }

  &_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    &-text {
      display: flex;
      align-items: center;
      gap: 0.3125rem;
    }

    &-btn--text {
      width: 93%;
      min-width: 64px;
      padding: 0px 1.25rem;
      background-color: #0085ff;
      border-radius: 0.75rem;
      font-weight: 700;
      height: 3.25rem;
      font-size: 1rem;
      line-height: 1.5;
      display: flex;
      margin-bottom: 10px;
      margin-top: 10px;
      align-items: center;
      justify-content: center;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
