.pfb_sell_btn {
  min-width: 64px;
  height: 3.25rem;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0px 1.25rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  gap: 0.625rem;
  font-weight: 700;
  background-color: #0085ff;
  color: white;
  border-radius: 0.75rem;
}
