.switchTabs {
  display: flex;
  gap: 10px;
  background: transparent;
  border-radius: 12px;
  width: fit-content;
}

.switchTabs-btn {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: #212228;
  cursor: pointer;
  font-size: 15px;
  transition: all 0.25s ease;
  color: #fff;
  border-radius: 3.25rem;

  &:hover {
    background: rgba(0, 0, 0, 0.07);
  }

  &.active {
    background: #0085ff;
    color: #fff;
  }
}
