.appsSectionBtn {
  line-height: 1.5;
  height: 3.25rem;
  font-size: 1rem;
  background: #0085ff;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  margin-top: 0.75rem;
}

.appsSectionBtnFullWidth {
  width: 100%;
}
