@use "@/styles/mixins.scss" as *;

.appsSectionBtn {
  line-height: 1.5;
  height: 3.25rem;
  font-size: 1rem;
  background: #0085ff;
  width: 94%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  margin-top: 0.75rem;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 500;
  transition: background 0.3s ease;
  
  @include md {
    height: 2.75rem;
    font-size: 0.9375rem;
  }
  
  &:hover {
    background: #0070d9;
  }
}

.appsSectionBtnFullWidth {
  width: 100%;
}
